<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       default-lazy-init="true">

    <!-- AOP: Configuration and Aspects -->
    <!--<aop:config>
        <aop:advisor id="serviceTx" advice-ref="txAdvice" pointcut="execution(* *..service..*Service.*(..))" order="0"/>
    </aop:config>-->

    <!-- Enable @Transactional support -->
    <tx:annotation-driven/>

    <!-- Enable @AspectJ support -->
    <aop:aspectj-autoproxy/>

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Service -->
    <context:component-scan base-package="com.learning.engine.service"/>

    <!--<tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="*" rollback-for="BusinessException"/>
            <tx:method name="removeAllSessionByCustomerId*" propagation="REQUIRES_NEW" no-rollback-for="BusinessException"/>
            <tx:method name="increaseFailed*" propagation="REQUIRES_NEW" no-rollback-for="BusinessException"/>
            <tx:method name="logFailedTransaction*" propagation="REQUIRES_NEW" no-rollback-for="BusinessException"/>
            <tx:method name="logActivity*" propagation="REQUIRES_NEW" no-rollback-for="BusinessException"/>
            <tx:method name="logSms*" propagation="REQUIRES_NEW" no-rollback-for="BusinessException"/>
        </tx:attributes>
    </tx:advice>-->
</beans>